* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgba(128, 128, 128, 0.192);
}
h1 {
    display: flex;
    justify-content: flex-end;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkgoldenrod;
}
img {
    width: 1600px;
    height: 750px;    
}

